# {{ ansible_managed }}

NO_START=0
VERBOSE=yes

JETTY_HOME={{ jetty_home }}
JETTY_HOST=127.0.0.1
JETTY_LOGS=/var/log/jetty
JETTY_ARGS=jetty.port={{ jetty_port }}

JAVA_HOME=/usr/lib/jvm/java-8-oracle/
