---
# Main GitBucket deployment playbook

- name: GitBucket-Servers
  hosts: git_bucket_server
  user: vagrant
  sudo: true
  roles:
     - common
     - java
     - jetty9
     - gitbucket
     - jenkins
     - nginx
